<p id="notice"><%= notice %></p>

<p>
  <strong>Des tipo pessoa:</strong>
  <%= @tipo_pessoa.des_tipo_pessoa %>
</p>

<%= link_to 'Edit', edit_tipo_pessoa_path(@tipo_pessoa) %> |
<%= link_to 'Back', tipo_pessoas_path %>
