<p id="notice"><%= notice %></p>

<p>
  <strong>Des tipo financeiro:</strong>
  <%= @tipo_financeiro.des_tipo_financeiro %>
</p>

<%= link_to 'Edit', edit_tipo_financeiro_path(@tipo_financeiro) %> |
<%= link_to 'Back', tipo_financeiros_path %>
